@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import "./variables.scss";
@import "./responsive.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  // font-family: 'Roboto', sans-serif;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* UTILITY CLASSES */

/* ###################### BUTTON  ######################*/

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.btn__primary {
  background-color: $green-accent;
  color: white;
  &:hover {
    color: white;
  }
}

.btn__danger {
  background-color: $error-color;
}

.btn__success {
  background-color: $success-color;
}

.btn__warning {
  background-color: $warning-color;
}

.light {
  .btn__secondary {
    background-color: $light-blue-accent;

    &:hover {
      color: white;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.dark {
  .btn__secondary {
    background-color: $dark-blue-accent;

    &:hover {
      color: white;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

/* ###################### FORM STYLING  ######################*/

/* INPUT STYLING  */
.form-control {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  input,
  textarea,
  select {
    padding: 10px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    &:focus {
      border: 2px solid $green-accent;
    }
    &:disabled{
      border: 2px solid $green-accent;
    }
  }
  span {
    color: red;
  }
}

.light {
  input {
    color: $light-text-color;
    background-color: $light-background-accent;
  }
}

.dark {
  input {
    color: $dark-text-color;
    background-color: $dark-background-accent;
  }
}

.heading {
  h1 {
    position: relative;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    &:before {
      width: 28px;
      height: 5px;
      display: block;
      content: "";
      position: absolute;
      bottom: 3px;
      left: 50%;
      margin-left: -14px;
      background-color: $green-accent;
    }

    &:after {
      width: 100px;
      height: 1px;
      display: block;
      content: "";
      position: relative;
      margin-top: 10px;
      left: 50%;
      margin-left: -50px;
      background-color: $green-accent;
    }
  }
}

.auth__card__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth__card__container {
    width: 500px;
    max-width: 90%;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      margin-bottom: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      row-gap: 25px;

      .password__input {
        position: relative;
      }
      .show__password__icon {
        position: absolute;
        top: 35px;
        right: 20px;
        cursor: pointer;
      }
    }

    .email__icon__box {
      font-size: 34px;
      text-align: center;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 10px auto;
    }
  }
}

.badge {
  padding: 3px 4px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  width: 100px;
}

.badge__sm{
  width: 50px;
}

.badge__success {
  background-color: $success-color;
}

.badge__warning {
  background-color: $warning-color;
}

.badge__danger {
  background-color: $error-color;
}

.loader {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard__layout {
  display: flex;
  width: 100%;

  .container {
    width: 100%;
  }
}

.table__wrapper {
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  overflow: auto;
  table {
    width: 100%;
    border: none;

    @include lg{
      font-size: 12px;
    }

    @include md {
      font-size: 13px;
    }

    @include sm {
      font-size: 11px;
    }

    thead {
      color: white;
    }

    tr,
    td {
      padding: 13px;
      // border: none;

      .avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
      }

      .actions{
          width: 180px;
      }
    }
  }
}

.dark {
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #101624;
      }

      &:hover {
        background-color: #0c101b;
      }
    }
  }
}

.light {
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #ebe6e6;
      }

      &:hover {
        background-color: #e2e2e2;
      }
    }
  }
}

/* MANAGE SECTION  */

.manage__section {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    @include md {
      flex-direction: column;
    }

    h2 {
      font-weight: 500;
      text-transform: uppercase;
    }

    button {
      margin: 0 5px;

      @include md {
        margin: 5px 0;
        margin-right: 6px;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    column-gap: 20px;

    @include md {
      flex-direction: column;
      row-gap: 20px;
    }

    input,select{
      outline: none;
      border: 2px solid transparent;
      border-radius: 3px;
      padding: 8px 10px;
      width: 100%;

      &:focus {
        border: 2px solid $green-accent;
      }
    }
  }

  .table__wrapper {
    padding: 10px;
    table {
      width: 100%;
      min-width: 800px;
      border: none;

      @include lg{
        font-size: 12px;
      }

      @include md {
        font-size: 13px;
      }
  
      @include sm {
        font-size: 11px;
      }


      thead {
        color: white;
      }

      tr,
      td {
        padding: 13px;
        // border: none;

        button {
          margin: 0 5px;
        }
      }

    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    @include md {
      flex-direction: column;
    }

    div {
      display: flex;
      align-items: center;
      column-gap: 10px;

      @include md {
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}

.light {
  a {
    &:hover {
      color: $light-text-color;
    }
  }
}

.dark {
  a {
    &:hover{
      color: $dark-text-color;
    }
  }
}

.star{
  color: #FFD700;
  font-size: 20px;
  margin-left: 1px;
}





.form {
  padding: 10px;
  span {
    font-size: 14px;
  }
  .card {
    margin-top: 3px;
    padding: 20px;
    border-radius: 3px;
    display: flex;

    form {
        width: 100%;
      .input__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;

        @include sm {
          grid-template-columns: 1fr;
        }
      }

      .input__container__3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;

        @include sm {
          grid-template-columns: 1fr;
        }
        
      }
      .actions{
        margin-top: 20px;
        width: 97.5%;
        display: flex;
        justify-content: end;
        column-gap: 14px;

        @include md{
            width: 95%;
        }
      }
    }
  }
}


.datalist__wrapper{
  min-height: calc(100vh - 100px);
  padding: 20px;

  h2{
      font-weight: 500;
      font-size: 22px;
      text-transform: uppercase;
  }
  span{
      font-size: 13px;
  }
}

.manage__clearance{
  .card__section{
    padding: 20px;
    h2{
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .card__wrapper{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
      text-transform: uppercase;
      a{
        display: none;
      }
  
      @include sm{
          grid-template-columns: repeat(1,1fr);
      }
  }
  }

}