/* DARK THEME COLOR  */
$dark-background-accent : #ffffff;
$dark-blue-accent : #1B3C3F;
$dark-blue-hover :#535ac8 ;
$dark-text-color : #1B3C3F;
$dark-background : #D3D3D3;

/* LIGH THEME COLOR */
$light-background-accent : #f2f0f0;
$light-blue-accent : #94a9fc;
$light-blue-hover : #6870fa ;
$light-text-color : #141414;

/* COMMON COLOR */
$green-accent : #1B3C3F;

$error-color: #FF5A5F;
$success-color: #28A745;
$warning-color: #FFA500;


$default-transition : all 0.5s ease-in-out;