/* DARK THEME COLOR  */
$dark-background-accent : #1f2A40;
$dark-blue-accent : #3e4396;
$dark-blue-hover :#535ac8 ;
$dark-text-color : #e0e0e0;
$dark-background : #141b2d;

/* LIGH THEME COLOR */
$light-background-accent : #f2f0f0;
$light-blue-accent : #94a9fc;
$light-blue-hover : #6870fa ;
$light-text-color : #141414;

/* COMMON COLOR */
$green-accent : #4cceac;

$error-color: #FF5A5F;
$success-color: #28A745;
$warning-color: #FFA500;


$default-transition : all 0.5s ease-in-out;