.contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    max-width: 80%;
    margin: 20px auto;

    h1{
        font-weight: 500;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        button{
            width: 120px;
            margin: auto;
        }
    }

    iframe{
        margin: 20px 0;
    }
}