@import "../../../scss/responsive.scss";
@import "../../../scss/variables.scss";

header {
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;

    @include md {
      justify-content: center;
      font-size: 14px;
    }

    div {
      display: flex;
      align-items: center;
      column-gap: 8px;

      @include md {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      column-gap: 6px;

      .logo__icon {
        font-size: 40px;
      }
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .center {
      display: flex;
      column-gap: 16px;
      a {
        transition: $default-transition;
        text-decoration: none;
      }

      .active {
        color: $green-accent;
      }

      @include md {
        display: none;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      column-gap: 3px;
      cursor: pointer;
      position: relative;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        @include md {
          width: 30px;
          height: 30px;
        }
      }
      span {
        font-size: 15px;
        margin-left: 3px;

        @include md {
          font-size: 13px;
        }
      }

      // dropdown
      .dropdown__wrapper {
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        top: 60px;
        right: 15px;
        border-radius: 3px;
        transition: $default-transition;

        .dropdown__content {
          // padding: 10px;
          margin: 10px 0;
          width: 200px;
          display: flex;
          flex-direction: column;

          .dropdown__item {
            display: flex;
            align-items: center;
            column-gap: 13px;
            margin: 2px 0;
            text-decoration: none;
            padding: 6px 5px;
            .icon {
              margin-left: 10px;
            }
            span {
              font-size: 15px;
            }
          }
        }
      }

      .dropdown__wrapper__active {
        max-height: 140px;
        overflow: hidden;
        position: absolute;
      }
    }

    .right {
      display: flex;
      align-items: center;
      column-gap: 20px;

      @include md {
        display: none;
      }
    }

    .mobile__right {
      display: none;
      @include md {
        display: block;
      }
    }

    /* MOBILE MENU */
    .mobile__nav__wrapper {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      transform: translateX(100%);
      display: none;
      align-items: center;
      justify-content: center;
      transition: $default-transition;
      z-index: 111;

      @include md {
        display: flex;
      }
      nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          text-decoration: none;
          margin-bottom: 20px;
        }
      }
    }

    .btn__close {
      position: absolute;
      top: 15px;
      right: 15px;

      .icon {
        font-size: 25px;
      }
    }

    .btn__icon {
      outline: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: $default-transition;
      background-color: transparent;

      &:hover {
        background-color: $green-accent;
        color: white;
      }
    }

    .mobile__nav__wrapper__active {
      transform: translateX(0);
    }
  }
}

/* HOVER COLOR */

.light {
  a {
    &:hover {
      color: $light-blue-accent;
    }
  }
}

.dark {
  a {
    &:hover {
      color: $dark-blue-accent;
    }
  }
}
